stages:
  - renovate
  - documentation
  - test
  - build
  - integration
  - release
  - plan
  - deploy

# gitlab ci deployment options
include:
  - local: /gitlab-ci/documentation.yml
  - local: /gitlab-ci/renovate.yml
  - local: /gitlab-ci/aws/cdk.yml
  # - local: /gitlab-ci/aws/cloudformation.yml
  #- local: /gitlab-ci/gcp/terraform.yml

Pytest:
  image: python:3.7
  stage: test
  services:
    - postgres:11.7
    - redis:5.0
  variables:
    DATABASE_URL: "postgresql://postgres:postgres@postgres:5432/postgres"
    DJANGO_SETTINGS_MODULE: "backend.settings.gitlab-ci"
    SECRET_KEY: "secret"
    STACK_NAME: "placeholder"
    DEBUG: "True"
  before_script:
    - cd backend
    - pip install -r requirements/test.txt
    - pip install -r requirements/base.txt
  script:
    - flake8
    - black -l 79 -S --check .
    - pytest --cov
  after_script:
    - echo "Pytest tests complete"
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  # only:
  #   changes:
  #     - backend/**/*

Jest:
  image: node:12.16.3
  stage: test
  before_script:
    - cd quasar
    - npm install --progress=false
  script:
    - npm run lint
    - npm run test:unit
  after_script:
    - echo "Jest tests complete"
  coverage: '/All files[^|]*\|[^|]*\s+([\d\.]+)/'
  # only:
  #   changes:
  #     - quasar/**/*

# gitlab-runner exec docker "e2e cypress tests without docker-compose"
.e2e: &cypress
  stage: integration
  image: $CI_REGISTRY_IMAGE/backend:latest
  services:
    - postgres:latest
    - redis:latest
  variables:
    SECRET_KEY: "secret"
    DEBUG: "True"
    DJANGO_EMAIL_HOST: "mail"
    DJANGO_EMAIL_PORT: "1025"
    DJANGO_SETTINGS_MODULE: backend.settings.gitlab-ci
    GITHUB_KEY: "github123"
    GITHUB_SECRET: "github123"
    GOOGLE_OAUTH2_KEY: "google123"
    GOOGLE_OAUTH2_SECRET: "google123"
  before_script:
    - python backend/manage.py migrate
    - python backend/manage.py create_default_user
    - cp /static/index.html backend/templates/
    - /start_asgi.sh &
  script:
    - npm install cypress
    - cp cypress.json backend/
    - cp -r cypress/ backend/cypress
    - cd backend
    - $(npm bin)/cypress run --config defaultCommandTimeout=10000
  artifacts:
    paths:
      - backend/cypress/videos/
      - backend/cypress/screenshots/
    expire_in: 2 days
  retry: 2
  only:
    changes:
      - backend/**/*
      - quasar/**/*

# use this test with gitlab-runner locally
.e2e-local:
  <<: *cypress
  image: localhost:5000/backend:latest
