body
    background-color: #2e426b

$accentColor = #2e426b
$textColor = white
$borderColor = #eaecef
$codeBgColor = #282c34

// TODO: clean up css rules

body
    background-color #2e426b


header.navbar {
    background-color: #2e426b;
}

div.links {
    background-color: #2e426b !important;
}

a.nav-link {
    background-color: #2e426b !important;
}

a.nav-link::hover {
    color: white !important;
}

div.sidebar
a.sidebar-link {
    background-color: #2e426b !important;
}

a.nav-link::hover {
    color: white !important;
}


a.sidebar-link {
    color: white !important;
}


a.active.sidebar-link {
    color: white !important;
}

a.active.sidebar-link::hover {
    color: white !important;
}

a.nav-link.router-link-active {
    color: white !important;
}


ul.nav-dropdown {
    background-color: #2e426b !important;
}

input {
    color: black !important;
}

code {
    background-color: grey !important;
    color: white !important;
}

pre > code {
    background-color: #282c34 !important;
}

a.nav-link.action-button {
    background-color: white !important;
    color: #2e426b !important;
}

a.nav-link::hover {
    color: white !important;
}

div.tip.custom-block {
    color: #2e426b !important;
}

div.warning.custom-block {
    background-color: #fcf7d0 !important;
}


a {
    color: white !important;
}

p > a {
    color: white !important;
}

div.tip.custom-block > p > a
div.warning.custom-block > p > a {
    color: #2e426b !important;
}

ul.suggestions {
    background-color: #2e426b !important;
}

ul.suggestions > li {
    background-color: #2e426b !important;
    color: #2e426b !important;
}

ul.suggestions > li > a {
    background-color: #2e426b !important;
    color: white !important;
}


ul.sidebar-links {
    background-color: #2e426b
}

aside.sidebar {
    background-color: #2e426b
}