<template>
  <q-page-container>
    <q-page padding>
      <h4>About this site...</h4>
      <p>
        This site is built with Django, Vue, Postgres, nginx, docker, and other technologies.
      </p>
    </q-page>
  </q-page-container>
</template>

<script>
export default {};
</script>

<style lang="css" scoped></style>
